{% extends 'base/AdminLTE_base.html' %}
{% block title %}添加合同{% endblock %}

{% block style %}
    <style>
        :after, :before {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            top: -3px;
            left: 0px;
        }
        .padmar{
            margin:10px;
        }
    </style>
{% endblock %}

{% block path %}
    <ol class="breadcrumb">
        <li><a href="{% url 'home' %}"><i class="fa fa-dashboard"></i> 主页</a></li>
        <li class="active">采购管理</li>
        <li class="active">采购合同</li>
    </ol>
{% endblock %}
{% block main_title %}
    国内发货单
{% endblock %}


{% block main_content %}
    <div class="box box-info box-solid">
        <div class="box-header with-border">
            <h3 class="box-title">国内发货单</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                <button type="button" class="btn btn-box-tool" id="delete_product"><i class="fa fa-times"></i></button>
            </div>
            <!-- /.box-tools -->
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <table class="table" id="_order">
                <tr>
                    <td>
                        <div class="input-group input-group-sm form-inline {% if form.sales_num.errors %}has-error{% endif %}">
                            <span class="input-group-addon">入库单单号</span>
                            {{ form.warehousing_num }}
                        </div>
                    </td>
                    <td>
                        <div class="input-group input-group-sm form-inline {% if form.sales_num.errors %}has-error{% endif %}">
                            <span class="input-group-addon">国内发货单</span>
                            {{ form.domestic_invoice }}
                        </div>
                    </td>
                    <td>
                        <div class="input-group input-group-sm form-inline {% if form.sales_num.errors %}has-error{% endif %}">
                            <span class="input-group-addon">入库时间</span>
                            {{ form.warehousing_date }}
                        </div>
                    </td>
                    <td>
                        <div class="input-group input-group-sm form-inline {% if form.sales_num.errors %}has-error{% endif %}">
                            <span class="input-group-addon">仓库</span>
                            {{ form.branch_stock }}
                        </div>
                    </td>
                    
                </tr>

                <tr>
                    <td>
                        <div class="input-group input-group-sm form-inline {% if form.sales_num.errors %}has-error{% endif %}">
                            <span class="input-group-addon">备注</span>
                            {{ form.remark }}
                        </div>
                    </td>
                </tr>
            </table>

        </div>
        <!-- /.box-body -->
        <div class="box-footer">
            
        </div>
        <!-- box-footer -->

    </div>
    
    <div class="box box-primary box-solid">
        <div class="box-header with-border">
            <h3 class="box-title">产品列表</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                <button type="button" class="btn btn-box-tool" id="delete_product"><i class="fa fa-times"></i></button>
            </div>
        </div>
        <div class="box-body">
            <table id="invoice_add" lay-filter="_table"></table>
        </div>
        <div class="box-footer">

        </div>
    </div>
    <div class="pull-right">
        <button class="layui-btn layui-btn-normal" data-method="submit"><i class="fa fa-save"></i> Save</button>
    </div>
    <script type="text/html" id="toolbar">
        <div class="layui-btn-container">
            <a type="button" data-method="add" href="javascript:void(0)" class="layui-btn layui-btn-sm" lay-event="add">添加</a>
            <a type="button" data-method="delete" href="javascript:void(0)" class="layui-btn layui-btn-sm" lay-event="delete">删除</a>    
        </div>
    </script>
    <div style="display:none" id="layui_layer">
        <div class="infoDemo padmar">
            搜索：
            <div class="layui-inline">
                <input class="layui-input" name="id" id="demoReload" autocomplete="off">
            </div>
            <button class="layui-btn" data-method="reloadchild">搜索</button>
        </div>
        <table class="layui-hide" id="child_table" lay-filter="demo"></table>
    </div>
    <script type="text/html" id="titleTpl">
        <a class="layui-btn layui-btn-xs" data-id="{{d.product_id}}"  data-method="reload" lay-event="add">添加</a>
    </script>
{% endblock %}

{% block script %}
<script>
    var invoice = {
        init:function(){
            this.bind();
        },
        getQueryString: function (name) {
            var reg = new RegExp('(^|&)' + name + '=([^&]*)(&|$)', 'i');
            var r = window.location.search.substr(1).match(reg);

            if (r != null) {
                return unescape(r[2]);
            }
            return null;
        },
        callback:function(data){
            var list = {};
            var map = new Map();
            $.each(data,function(index,item){
                var key = $(item).prop("name");
                var value = $(item).val();
                list[key] = value;
            });
            return list;
        },
        bind:function(){
            var self = this;
            layui.use(['table','layer'],function(){
                var table = layui.table,
                layer = layui.layer,
                $ = layui.$;
                var val = self.getQueryString("id")||'';
                table.render({
                    elem:'#invoice_add'
                    //,url:'/domestic_invoice/'+ val //应该是选中的某一个第一张表附带的数据domestic_invoice_product
                    ,data:[]
                    ,page:true
                    ,toolbar:'#toolbar'
                    ,defaultToolbar:[]
                    ,id:'ftable'
                    ,cols:[[
                        {type:'checkbox',align:"center"}
                        ,{field:"product",title:"产品代码",align:"center"}
                        ,{field:"name",title:"名字",align:"center"}
                        ,{field:"spec",title:"规格",align:"center"}
                        ,{field:"remark",title:"备注",align:"center",edit: 'text'}
                        ,{field:"mesu_unit",title:"单位",align:"center"}
                        ,{field:"volume",title:"体积",align:"center"}
                        ,{field:"count",title:"入库数量",align:"center",edit: 'text'}
                        ,{field:"sales_count",title:"总金额",align:"center"}              // 字段名对不上,url无法连接
                    ]]
                    ,parseData:function(res){
                        console.log(res);
                        return {
                            "code": res.status, //解析接口状态
                            // "msg": res.message, //解析提示文本
                            // "count": res.total, //解析数据长度
                            "data": res.data[0].domestic_invoice_product //解析数据列表
                        };
                    }
                });
                table.render({
                    elem:'#child_table'
                    ,page:true
                    ,data:{{ invoice_products_data|safe }}
                    //,url: '/product/product_select'
                    ,defaultToolbar:[]
                    ,id:'ctable'
                    ,cols:[[
                        {field: "product_id", title: "产品id", align: "center", width: 100}
                        , {field: "name", title: "产品名称", align: "center", width: 100}
                        , {field: "spec", title: "产品规格", align: "center", width: 200}
                        , {field: "count", title: "数量", align: "center", width: 100}
                        , {field: "volume", title: "体积", align: "center", width: 100}
                        , {title: "操作", toolbar: '#titleTpl', align: "center", width: 100}
                    ]]
                    ,parseData:function(res){
                        return {
                            "code": res.status, //解析接口状态
                            "msg": res.message, //解析提示文本
                            "count": res.total, //解析数据长度
                            "data": res.data //解析数据列表
                        };
                    }
                });
                table.on('toolbar(_table)',function(obj){
                    var checkStatus = table.checkStatus(obj.config.id);
                    switch(obj.event){
                        case 'add':
                            
                            layer.open({
                                type:1
                                ,content:$('#layui_layer')
                                ,title: ['请选择', 'font-size:18px;']
                                ,area:'auto'
                                ,maxWidth:1000
                                ,shadeClose:true
                                ,resize:false
                                ,zIndex: layer.zIndex //重点1
                                ,btn: ['关闭'] //只是为了演示
                                ,yes: function(index){
                                    layer.close(index);
                                }
                                ,cancel: function(index, layero){
                                    layer.close(index);
                                }    
                            });
                        break;
                        case 'delete':
                            console.log(checkStatus);
                            var arr = [],
                            arr1 = [],
                            data = table.cache.ftable;
                            $.each(checkStatus.data,function(index,item){
                                arr.push(item.product_id)
                            })
                            $.each(data,function(index,item){
                                if(arr.indexOf(item.product_id) === -1){
                                    arr1.push(item);
                                }
                            })

                            active.reload('ftable',arr1);
                        break;
                    }
                });
                table.on('tool(demo)',function(obj){
                    var data = obj.data;
                    var arr = [];
                    var self = this;
                    layEvent = obj.event; //获得 lay-event 对应的值
                    var getdata = table.cache.ftable;
                    $.each(getdata, function (index, item) {
                        arr.push(item.product_id);
                    });
                    var number = arr.findIndex(function (value) {
                        return value == data.product_id
                    });
                    if (number === -1) {
                        getdata.push(data);
                        active.reload('ftable',getdata);
                    }
                });
                // table.on('toolbar(demo)',function(obj){//头部工具行的操作，修改了页面的样式
                //     var checkStatus = table.checkStatus(obj.config.id);
                //     console.log(checkStatus);
                //     switch(obj.event){
                //         case 'add':
                //             var arr = [],
                //             arr1 = [],
                //             data = table.cache.ftable;
                //             $.each(data,function(index,item){
                //                 arr.push(item.product_id)
                //             })
                //             $.each(checkStatus.data,function(index,item){
                //                 if(arr.indexOf(item.product_id) === -1){
                //                     arr1.push(item);
                //                 }
                //             })
                //             var _total = $.merge($.merge([],data),arr1);
                //             active.reload('ftable',_total);
                //         break;
                //     }
                // });
                table.on('edit(_table)',function(obj){
                    // var database = table.cache.ftable;
                    // $.each(database,function(index,item){
                    //     var count = item.sales_count - item.outbound_count;
                    //     if(item.plan_count > count){
                    //         item.plan_count = count;
                    //         obj.value = count;
                    //     }
                    // });
                    // active.reload('ftable',database);//计算可出库数量的剩余
                    var count = obj.data.count||0,
                    unit_price = obj.data.unit_price||0;
                    var data = table.cache.ftable;
                    $.each(data,function(index,item){
                        if(item.id === obj.data.id){
                            item.sales_count = count * unit_price;
                        }
                    });
                    active.reload('ftable',data);//计算每一行的总量
                });
                var active = {
                    reload:function(id,dt){
                        table.reload(id, {
                            page: {
                                curr: 1 //重新从第 1 页开始
                            }
                            ,data:dt
                        });
                    },
                    submit: function () {                  //提交按钮
                        //first table
                        var inputAll = $("#_order").find("input");
                        var selectAll = $("#_order").find("select");
                        var obj1 = self.callback(inputAll);
                        var obj2 = self.callback(selectAll);
                        var data = $.extend({},obj1,obj2);

                        var _data = table.cache.ftable;
                        //second table
                        data.csrfmiddlewaretoken = '{{ csrf_token }}';
                        data.warehousing_product = _data;
                        console.log(JSON.stringify(data));
                        $.post("/branch_warehousing/", data, function (a, b) {
                            alert(a);
                        });
                    },
                    reloadchild: function () {               //子页面搜索
                        var demoReload = $('#demoReload');
                        //执行重载
                        table.reload('ctable', {
                            page: {
                                curr: 1 //重新从第 1 页开始
                            }
                            , request: {
                                page: 'curr' //页码的参数名称，默认：page
                                , limit: 'nums' //每页数据量的参数名，默认：limit
                            }
                            , where: {
                                search: demoReload.val()
                            }
                        });
                    },
                };
                $('#layui_layer .layui-btn').on('click', function () {               //子页面的搜索按钮
                    var othis = $(this), method = othis.data('method');
                    active[method] ? active[method].call(this) : '';
                });
                $('.pull-right .layui-btn').on('click', function () {             //提交监听
                    var othis = $(this), method = othis.data('method');
                    active[method] ? active[method].call(this) : '';
                });
            })
        }
    };
    
    $(function(){
        invoice.init();
        $('.datepicker').datepicker({
            autoclose: true,
            format: 'yyyy-mm-dd',
            orientation: 'bottom'
        });
    })
</script>
{% endblock %}