{% extends 'base/AdminLTE_base.html' %}
{% block title %}添加合同{% endblock %}

{% block style %}
<link rel="stylesheet" href="../../static/css/bootstrap-select.min.css">
    <style>
        table {
            table-layout: fixed;
            word-break: break-all;
        }

        p {
            width: 100%;
            overflow: hidden;
        }
        input,select{
            border:0;
	        width: 100%;
        }
	    .datepicker-days td, .datepicker-days th {
            width:35px;
        }
        tr th,
        tr td{
            text-align: center;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        .layui-form-select dl {
            z-index: 9999;
        }
        .layui-table-tips-c:before {
            right: 1px;
            top: -3px;
        }
    </style>
{% endblock %}

{% block path %}
    <ol class="breadcrumb">
        <li><a href="{% url 'home' %}"><i class="fa fa-dashboard"></i> 主页</a></li>
        <li class="active">销售管理</li>
        <li class="active">销售合同</li>
    </ol>
{% endblock %}
{% block main_title %}
    销售合同明细
{% endblock %}


{% block main_content %}
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-default box-solid">
                        <div class="box-header with-border">
                            <h6 class="box-title">
                                明细
                            </h6>
                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                <button type="button" class="btn btn-box-tool" id="delete_product"><i class="fa fa-times"></i>
                                </button>
                            </div>
                        </div>
                        <div class="box-body">
                            <table class="layui-hide" id="sales_product_table" lay-filter="filter"></table>
                        </div>
                        <div class="box-footer">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
<script>
    var obj = {
        init:function(){
            this.bind();
        },
        bind:function(){
            var self = this;
            layui.use('table',function(){
                var table = layui.table,
                $ = layui.$;
                table.render({
                    elem:'#sales_product_table'
                    ,url:'/sales/sales_product/'
                    ,page:true
                    ,limit:10
                    ,id:'idTest'
                    ,cols:[[
                        {field:'sales__date',title:'日期',align:'center',sort:true}
                        ,{field:'sales__client__name',title:'客户',align:'center',sort:true}
                        ,{field:'sales__salesman__first_name',title:'业务员',align:'center',sort:true}
                        ,{field:'sales__sales_num',title:'合同编号',align:'center',sort:true}
                        ,{field:'product__model',title:'产品型号',align:'center',sort:true}
                        ,{field:'product__name',title:'产品名称',align:'center',sort:true}
                        ,{field:'product__spec',title:'产品规格',align:'center',sort:true}
                        ,{field:'count',title:'销售数量',align:'center',sort:true}
                    ]]
                });
                table.on('sort(filter)',function(obj){
                    console.log(obj.field);
                    console.log(obj);
                    console.log(this);
                    table.reload('idTest',{
                        initSort:obj
                        ,where:{
                            field:obj.field,
                            order:obj.type
                        }
                    })
                })
            })
        }
    }
    $(function(){
        obj.init();
    })
</script>
{% endblock %}