<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <script src="../../static/js/jquery-2.1.1.js"></script>
    <script src="../../static/js/bootstrap.min.js"></script>
    <script src="../../static/js/bootstrap-select.min.js"></script>
    <script src="../../static/laydate/laydate.js"></script>
    <script src="../../static/js/myfunction.js"></script>
    <link type="text/css" rel="stylesheet" href="../../static/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="../../static/css/bootstrap-select.min.css">

    {% block link_script %}{% endblock %}
   {% block style %}{% endblock %}
</head>
<body>
{% block body %}

{% endblock %}
</body>
</html>