{% extends 'base/AdminLTE_base.html' %}
{% block title %}添加合同{% endblock %}

{% block style %}
    <style>
        *{
            box-sizing:content-box;
        }
        table {
            table-layout: fixed;
            word-break: break-all;
        }

        p {
            width: 100%;
            overflow: hidden;
        }
        input,select{
            border:0;
	        width: 100%;
        }
	    .datepicker-days td, .datepicker-days th {
            width:35px;
        }
        .layui-form-checkbox[lay-skin=primary] i{
            top: -5px;
        }
        tr th,
        tr td{
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        .laytable-cell-checkbox, .laytable-cell-numbers, .laytable-cell-radio, .laytable-cell-space {
    		padding: 5px;
    		text-align: center;
	    }
    </style>
{% endblock %}

{% block path %}
{#    <ol class="breadcrumb">#}
{#        <li><a href="{% url 'home' %}"><i class="fa fa-dashboard"></i> 主页</a></li>#}
{#        <li class="active">采购管理</li>#}
{#        <li class="active">采购合同</li>#}
{#    </ol>#}
{% endblock %}
{% block main_title %}
    销售合同添加
{% endblock %}


{% block main_content %}
    <div class="box box-primary box-solid">
        <div class="box-header with-border">
            <div class="pull-left">
                <h3 class="box-title">产品列表</h3>
            </div>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                <button type="button" class="btn btn-box-tool" id="delete_product"><i class="fa fa-times"></i></button>
            </div>
        </div>
        <div class="box-body">
            <form class="infoDemo layui-form">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">搜索ID：</label>
                        <div class="layui-input-inline">
                            <input class="layui-input" name="id" id="demoReload" autocomplete="off">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">分组选择框</label>
                        <div class="layui-input-inline">
                            <select name="quiz"  lay-filter="test" id="select1">
                                <option value="">请选择问题</option>
                                <optgroup label="城市记忆">
                                <option value="你工作的第一个城市">你工作的第一个城市</option>
                                </optgroup>
                                <optgroup label="学生时代">
                                <option value="你的工号">你的工号</option>
                                <option value="你最喜欢的老师">你最喜欢的老师</option>
                                </optgroup>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">搜索选择框</label>
                        <div class="layui-input-inline">
                            <select name="modules" lay-filter="test" id="select2" lay-search="">
                                <option value="">直接选择或搜索选择</option>
                                <option value="1">layer</option>
                                <option value="2">form</option>
                                <option value="3">layim</option>
                                <option value="4">element</option>
                                <option value="5">laytpl</option>
                                <option value="6">upload</option>
                                <option value="7">laydate</option>
                                <option value="8">laypage</option>
                                <option value="9">flow</option>
                                <option value="10">util</option>
                                <option value="11">code</option>
                                <option value="12">tree</option>
                                <option value="13">layedit</option>
                                <option value="14">nav</option>
                                <option value="15">tab</option>
                                <option value="16">table</option>
                                <option value="17">select</option>
                                <option value="18">checkbox</option>
                                <option value="19">switch</option>
                                <option value="20">radio</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">国际版</label>
                        <div class="layui-input-inline">
                            <input type="text" class="layui-input" id="test-1" placeholder="开始 到 结束">
                        </div>
                        <button class="layui-btn" data-method="reloadsearch">搜索</button>
                    </div>
                </div>
                
            </form>
            <table class="layui-hide" id="firstBlood" lay-filter="demo"></table>
        </div>
        <div class="box-footer">
    
        </div>
    </div>
    <script type="text/html" id="titleTpl">
        <div class="layui-btn-group">
            <button class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">
                <i class="layui-icon">&#xe654;</i>查看
            </button>
            <button class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit">
                <i class="layui-icon">&#xe642;</i>修改
            </button>
            <button class="layui-btn layui-btn-primary layui-btn-xs" lay-event="clear">
                <i class="layui-icon">&#xe640;</i>清关
            </button>
            <button class="layui-btn layui-btn-primary layui-btn-xs" lay-event="del">
                <i class="layui-icon">&#xe640;</i>生成入库单
            </button>
        </div>
    </script>
{% endblock %}

{% block script %}
<script>
    var data = {
        Initialize:function(){
            this.bind();
        },
        bind:function(){
            layui.use(['table','form','laydate'],function(){
                var table = layui.table,
                laydate = layui.laydate,
                form = layui.form;
                var $ = layui.$;
                var demoReload = $('#demoReload');

                laydate.render({
                    elem: '#test-1'
                    ,lang: 'en'
                    ,range: true
                    ,done: function(value, date, endDate){
                        console.log($('#test-1').val())
                    }
                });
                form.on('select(test)',function(){
                    var demoReload = $('#demoReload').val();
                    console.log($('#select1').val());
                    console.log($('#select2').val());
                    console.log($('#test-1').val())
                });
                table.render({             //子页面的table
                    data:[
                        {% for item in domestic_invoice %}
                            {
                                'id':'{{ item.id }}',
                                'domestic_invoice_num':'{{ item.domestic_invoice_num }}',
                                'invoice_date':'{{ item.invoice_date }}',
                                'company':'{{ item.company.name }}',

                            },
                        {% endfor %}
                    ]
                    , elem:'#firstBlood'
                    //,url:'/product/product_select'
                    , page:true
                    , skin: 'nob' //行边框风格
                    , even: true //开启隔行背景
                    , id:'testchange'
                    , where:{search: demoReload.val()}
                    , cols:[[
                        {type:'checkbox',align:"left"}
                        ,{field:"domestic_invoice_num",title:"发货单号",align:"left"}
                        ,{field:"invoice_date",title:"发货时间",align:"left",}
                        ,{field:"company",title:"分公司",align:"left",}
                        ,{title:"操作", fixed: 'right', width:300, toolbar:'#titleTpl',align:"left"}
                    ]]
                    ,parseData: function(res){ //res 即为原始返回的数据
                        return {
                            "code": res.status, //解析接口状态
                            "msg": res.message, //解析提示文本
                            "count": res.total, //解析数据长度
                            "data": res.data //解析数据列表
                        };
                    },
                });
                table.on('tool(demo)',function(obj){
                    var data = obj.data; //获得当前行数据
                    var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
                    var tr = obj.tr; //获得当前行 tr 的DOM对象
                    if(layEvent === 'detail'){ //查看
                        //do somehing
                        href= '/domestic_invoice/operations?id='+data.id;
                    } else if(layEvent === 'edit'){ //删除
                        href= '/domestic_invoice/operations?id='+data.id;
                    } else if(layEvent === 'del'){ //编辑
                        href= '/branch_warehousing/operations?domestic_invoice='+data.id;
                    }
                    window.open(href)
                });
                var active = {
                    reloadsearch: function(data){               //子页面搜索
                        //执行重载
                        table.reload('testchange', {
                            where: {
                                search: data
                            }
                        });
                    }
                };
                $('.infoDemo .layui-btn').on('click', function(){               //子页面的搜索按钮
                    var othis = $(this), method = othis.data('method');
                    var data = {
                        demoReload : $('#demoReload').val(),
                        demoReload :$('#select1').val(),
                        demoReload :$('#select2').val(),
                        demoReload :$('#test-1').val()
                    }
                    active[method] ? active[method].call(this,data) : '';
                });
                
            })
            
        }
    }
    $(function(){
        data.Initialize();
    })
</script>
{% endblock %}